useDynLib(MXM, .registration = TRUE)

importFrom("survival", is.Surv, coxph)
importFrom("stats", deviance)
importFrom("VGAM", vglm, multinomial, deviance)
importFrom("MASS", polr )
importFrom("ROCR", prediction, performance)
importFrom("Hmisc", rcorr.cens)
importFrom("TunePareto", generateCVRuns)

importFrom("methods", new)
importFrom("stats", pchisq)
importFrom("stats", anova)
importFrom("stats", predict)
#importFrom("survival", predict.coxph)
importFrom("stats", glm)
importFrom("stats", lm)
importFrom("stats", predict.lm)
importFrom("utils", combn)
importFrom("stats", var)
importFrom("stats", cor)
importFrom("stats", pt)
importFrom("stats", binomial)
importFrom("stats", family)

importFrom("graphics", barplot)
importFrom("graphics", grid)
importFrom("graphics", lines)
importFrom("graphics", legend)
importFrom("graphics", axis)

#importFrom("pcalg", gSquareBin, gSquareDis)
#importFrom("gRbase", combnPrim)
#importFrom("Biobase", exprs)

export(SES, censIndLR, gSquare, testIndFisher, testIndLogistic, cv.ses, auc.mxm, acc.mxm, mse.mxm, ci.mxm, glm.mxm, lm.mxm, coxph.mxm)
exportClasses("SESoutput")
exportMethods("plot", "summary")